[all_linux:children]
$(stackid)apigateway
$(stackid)apiportal

[all_webmethods:children]
$(stackid)apigateway
$(stackid)apiportal

[apigateway:children]
$(stackid)apigateway

[apiportal:children]
$(stackid)apiportal

[$(stackid)apigateway]
${apigateway_servers}

[$(stackid)apiportal]
${apiportal_servers}