[all_linux:children]
$(stackid)testserver
$(stackid)buildserver

[all_webmethods:children]
$(stackid)testserver
$(stackid)buildserver

[integration:children]
$(stackid)testserver
$(stackid)buildserver

[jenkins:children]
$(stackid)buildserver

[$(stackid)buildserver]
${buildserver_servers}

[$(stackid)testserver]
${testserver_servers}